* { margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}
body{
    overflow-x: hidden;
    font-family: 'Be Vietnam Pro', sans-serif;

}
nav{
    background-color: rgb(12, 12, 12);
}
main{
    grid-area: main;
    padding: 3vh 2vh 3vh 3vh;
}
footer{
    grid-area: footer;
    display: flex;
    align-items: center;
}
.contenedor{
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

footer {
    background-color: rgb(12, 12, 12);
    color: rgb(255, 255, 255);
    padding: 2vh 2vh 2vh 2vh;
}
main{
    color: rgb(255, 255, 255);
    background-color: rgb(36, 66, 141);
}
footer ul, li {
    display: inline;
}
.btn{
    background-color: rgb(50, 50, 50);
    border-radius: 10vw;
    margin: 2vw;
    padding: 0vw 1vw 0vw 1vw;
    border: 0ch;
}
h1 {
    text-align: center;
}
h2 {
    font-size: larger;
}
p {
    margin: 2vw;
}
.logo {
    height: 5vw;
}

.servicio{
    height: 7vw;
}
.cool {
    height: 15vw;
    padding: 3vw;
}
a {
 color: #F2F2F0;
 text-decoration: none;
}
fieldset{
    background-color: rgb(12, 12, 12);
    padding: 3vh;
}
legend {
    width: 0px;
    height: 0px;
    overflow: hidden;
  }
label input{
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.hijo{
    text-align: center;
    padding: 3vh;
}
.flexible{
    display: flex;
    align-items: center;
}
label{
    display: flex;
    flex-direction: column;
    padding: 1vh;
}
form input{
    margin-left: 1vw;
}
img:hover{
    transform: scale(1.1);
}


@media (max-width: 380px) {

    .flexible{
        display: flex;
        flex-direction: column-reverse;
    }
    .cool{
        width: 50vw;
        height: auto;
    }
    .flex{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .tec{
        height: 20vh;
        width: fit-content;
    }
    footer{
        display: flex;
        justify-content:center;
    }
    footer img, footer p{
        display: none;
    }
    iframe{
        width: 70vw;
        height: auto;
    }
    #res{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    input[type="submit"]{
        margin: 3vw;
        margin-left: 45%;
     
    }

}