* { margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}
body{
    overflow-x: hidden;
    font-family: 'Be Vietnam Pro', sans-serif;
}
header{
    nav{
        background-color: rgb(12, 12, 12);
    }
}
main{
    grid-area: main;
    padding: 3vh 2vh 3vh 3vh;
    color: rgb(255, 255, 255);
    background-color: rgb(36, 66, 141);
}
footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    background-color: rgb(12, 12, 12);
    color: rgb(255, 255, 255);
    padding: 2vh 2vh 2vh 2vh;
        li{
            display: inline;
        }
}
@import "texto";
@import "clases";
@import "formulario";
@import "smartphone";
