@import "colores";
.contenedor{
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "mainn"
    "footerr";
}
.btn{
    background-color: rgb(50, 50, 50);
    border-radius: 10vw;
    margin: 2vw;
    padding: 0vw 1vw 0vw 1vw;
    border: 0ch;
}
.logo {
    height: 5vw;
}
.servicio{
    height: 7vw;
}
.cool {
    height: 15vw;
    padding: 3vw;
}
.flex{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
}
.hijo{
    text-align: center;
    padding: 3vh;
}
.flexible{
    display: flex;
    align-items: center;
}
#marcas{
    padding-top: 3vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;
}
.marca{
    width: 30vw;
    padding: 5vw;
}
.m{
    display: flex;
    flex-direction: column;
    &:hover{
        transform: scale(1.1);
    }
}
.videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ser{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding-top: 5vw;
}


