@import "colores";
$haches:(
    familia: 'Lora', 
    centrar: center
);
@mixin letras { 
    text-align: map-get($haches, centrar);
    font-family: map-get($haches, familia) ;
}
h1 {
    @include letras;
}
h2 {
    @include letras;
    font-size: 3vw;
}
p {
    font-size: 2vw;
    margin: 2vw;
}
a{
    text-decoration: none;
    color: rgb(250, 250, 250);
    &:hover{
        color: rgb(250, 250, 250);
    }
}
$marcas:(
    hannabach: #000000,
    knobloch: #939999,
    savarez: #bc2535,
    daddario: #c0132f,
    augustine: #692670,
    sonatina: #272596
);
@each $marca-color, $color in $marcas {
    .#{$marca-color} {
        background-color: $color;
    }
}

h3{
    @include letras;
    font-size: 4vw;
 }